<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="AsusShopConnectionString" connectionString="Data Source=DESKTOP-1\SQLEXPRESS;Initial Catalog=AsusShop;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="AsusShopConnectionString2" connectionString="Data Source=DESKTOP-1\SQLEXPRESS;Initial Catalog=AsusShop;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="AsusShopConnectionString3" connectionString="Data Source=DESKTOP-1\SQLEXPRESS;Initial Catalog=AsusShop;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="AsusShopConnectionString4" connectionString="Data Source=DESKTOP-1\SQLEXPRESS;Initial Catalog=AsusShop;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="AsusShopConnectionString5" connectionString="Data Source=DESKTOP-1\SQLEXPRESS;Initial Catalog=AsusShop;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="tryproductConnectionString" connectionString="Data Source=DESKTOP-1\SQLEXPRESS;Initial Catalog=tryproduct;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="tryproductConnectionString2" connectionString="Data Source=DESKTOP-1\SQLEXPRESS;Initial Catalog=tryproduct;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="tryproductConnectionString3" connectionString="Data Source=DESKTOP-1\SQLEXPRESS;Initial Catalog=tryproduct;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="AsusShopConnectionString6" connectionString="Data Source=DESKTOP-1\SQLEXPRESS;Initial Catalog=AsusShop;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="AsusShopConnectionString7" connectionString="Data Source=DESKTOP-1\SQLEXPRESS;Initial Catalog=AsusShop;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="AsusShopConnectionString8" connectionString="Data Source=DESKTOP-1\SQLEXPRESS;Initial Catalog=AsusShop;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="AsusShopConnectionString9" connectionString="Data Source=DESKTOP-1\SQLEXPRESS;Initial Catalog=AsusShop;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="AsusShopConnectionString10" connectionString="Data Source=DESKTOP-1\SQLEXPRESS;Initial Catalog=AsusShop;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="AsusShopConnectionString11" connectionString="Data Source=DESKTOP-1\SQLEXPRESS;Initial Catalog=AsusShop;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="AsusShopConnectionString12" connectionString="Data Source=DESKTOP-1\SQLEXPRESS;Initial Catalog=AsusShop;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="AsusShopConnectionString13" connectionString="Data Source=DESKTOP-1\SQLEXPRESS;Initial Catalog=AsusShop;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="AsusShopConnectionString14" connectionString="Data Source=DESKTOP-1\SQLEXPRESS;Initial Catalog=AsusShop;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="AsusShopConnectionString15" connectionString="Data Source=DESKTOP-1\SQLEXPRESS;Initial Catalog=AsusShop;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="AsusShopConnectionString16" connectionString="Data Source=DESKTOP-1\SQLEXPRESS;Initial Catalog=AsusShop;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="AsusShopConnectionString17" connectionString="Data Source=DESKTOP-1\SQLEXPRESS;Initial Catalog=AsusShop;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="asusConnectionString" connectionString="Data Source=DESKTOP-LCMNUM6\SQLEXPRESS;Initial Catalog=asus;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="asusConnectionString2" connectionString="Data Source=DESKTOP-LCMNUM6\SQLEXPRESS;Initial Catalog=asus;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="asusConnectionString3" connectionString="Data Source=DESKTOP-LCMNUM6\SQLEXPRESS;Initial Catalog=asus;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="asusConnectionString4" connectionString="Data Source=DESKTOP-LCMNUM6\SQLEXPRESS;Initial Catalog=asus;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="asusConnectionString5" connectionString="Data Source=DESKTOP-LCMNUM6\SQLEXPRESS;Initial Catalog=asus;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="asusConnectionString6" connectionString="Data Source=DESKTOP-LCMNUM6\SQLEXPRESS;Initial Catalog=asus;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="asusConnectionString7" connectionString="Data Source=DESKTOP-LCMNUM6\SQLEXPRESS;Initial Catalog=asus;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <appSettings>
    <add key="validationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>