@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@1&family=EB+Garamond&family=Kanit:wght@200&family=Oswald:wght@300&family=Poppins:wght@300&family=Raleway:ital@1&family=Roboto+Condensed:wght@700&family=Roboto+Slab&family=Roboto:wght@300&display=swap');


.container {
    position: absolute;
    margin: 10px 20px;
    border: 2px solid black;
    border-radius: 20px 10px;
    overflow: hidden;
    position: relative;
    height: 70vh;
    width: 36vh;
    background-color: #F9F9FB;
    display: flex;
    left: -80px;
    transform: translateX(15vh);
}

.image {
    display: block;
    margin-left: 40px;
    margin-right: auto;
    width: 50%;
}

.name {
    font-size: 25px;
    font-weight: bold;
    font-family: serif;
    display: flex;
    justify-content: center;
    transform: translateY(-10px);
}

.line {
    background: red;
    height: 1px;
}


.detail {
    position: relative;
    transform: translateX(30px);
    font-size: 18px;
}

.btn1 {
    display: block;
    background-color: #0000FF;
    color: white;
    border-radius: 30px;
    height: 32px;
    width: 30vh;
    transform: translateX(2vh);
    font-weight: bold;
    position: relative;
    top: -5vh;
}


.btn1 {
    margin-top: 9vh;
}



    .btn1:hover {
        background: white;
        color: black;
    }



.asus-price-name1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    transform: translateX(10px);
}

.asus-price-name2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    transform: translateX(10px);
}

.asus-price {
    color: red;
    transform: translateX(10px);
    font-size: 20px;
}

.image img:hover {
    animation: float 3s ease-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0px);
    }
}
