@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: #f2f2f2;
}

::selection {
    background: #4158d0;
    color: #fff;
}

.wrapper {
    width: 380px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 20px 20px rgba(0,0,0,0.1);
}

    .wrapper .title {
        font-size: 35px;
        font-weight: 600;
        text-align: center;
        line-height: 100px;
        color: #fff;
        user-select: none;
        border-radius: 15px 20px 15px 15px;
        background: linear-gradient(-135deg, #c850c0, #4158d0);
    }

.wrapper {
    padding: 10px 30px 50px 30px;
}

    .wrapper .field {
        height: 50px;
        width: 100%;
        margin-top: 20px;
        position: relative;
    }

        .wrapper .field .in {
            height: 100%;
            width: 100%;
            outline: none;
            font-size: 17px;
            padding-left: 20px;
            border: 1px solid lightgrey;
            border-radius: 25px;
            transition: all 0.3s ease;
        }

            .wrapper .field .in:focus,
            .field .in:valid {
                border-color: #4158d0;
            }

        .wrapper .field label {
            position: absolute;
            top: 50%;
            left: 20px;
            color: #999999;
            font-weight: 400;
            font-size: 17px;
            pointer-events: none;
            transform: translateY(-50%);
            transition: all 0.3s ease;
        }

.field .in:focus ~ label,
.field .in:valid ~ label {
    top: 0%;
    font-size: 16px;
    color: #4158d0;
    background: #fff;
    transform: translateY(-50%);
}

.content {
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 16px;
    align-items: center;
    justify-content: space-around;
}


    .content input {
        width: 15px;
        height: 15px;
        background: red;
    }

    .content label {
        color: #262626;
        user-select: none;
        padding-left: 5px;
    }


.field .submit {
    width: 40vh;
    height: 5vh;
    color: #fff;
    border: none;
    padding-left: 0;
    margin-top: -10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    transition: all 0.3s ease;
    border-radius: 20px 20px;
}

    .field .submit:active {
        transform: scale(0.95);
    }

.signup-link {
    color: #262626;
    margin-top: 20px;
    text-align: center;
}


    .signup-link a {
        color: #4158d0;
        text-decoration: none;
    }


        .signup-link a:hover {
            text-decoration: underline;
        }
