
.body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 60%;
    margin: 50px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    height: auto;
}

    .container:hover {
        transform: translateY(-8px);
        box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
    }

.form-group {
    margin-bottom: 25px;
}

label {
    display: block;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
    color: #555;
}

.text {
    width: 100%;
    padding: 14px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #f8f8f8;
    color: #333;
    transition: border-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-sizing: border-box;
}

    .text:focus {
        border-color: #3498db;
        outline: none;
        transform: scale(1.03);
    }

.btn {
    padding: 18px 36px;
    background-color: #3498db;
    border: none;
    color: #fff;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

    .btn:hover {
        background-color: #258cd1;
        transform: scale(1.03);
    }

/* Additional Enhancements */
.form-header {
    text-align: center;
    margin-bottom: 30px;
}

.form-group label {
    margin-bottom: 10px;
    color: #777;
}

.textarea {
    resize: vertical;
}

    .textarea:focus {
        min-height: 100px;
        resize: none;
    }

@media screen and (max-width: 768px) {
    .container {
        max-width: 80%;
    }
}

.form-control {
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    transition: border-color 0.3s ease-in-out;
}


    .form-control:focus {
        border-color: #007bff;
        box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
        animation: focus-animation 0.5s ease-in-out;
    }

.radio-list {
    display: flex;
    gap: 15px;
    align-items: center;
}

    .radio-list label i {
        font-size: 24px;
        margin-right: 10px;
    }


.form-group {
    margin-bottom: 20px;
}

.radio-list label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.radio-list input[type="radio"] {
    display: none;
}

.radio-list .icon {
    margin-right: 10px;
    font-size: 20px;
    transition: color 0.3s ease; /* Add a transition effect for smoother color change */
}

.radio-list .text {
    font-size: 16px;
}

.radio-list input[type="radio"]:checked + label .icon {
    color: #007bff;
}

.radio-list input[type="radio"]:checked + label .text {
    color: #007bff;
    font-weight: bold;
}
